/* header{
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: brown; */

  /* position: fixed; */
  /* z-index: 302; */
  /* opacity: .9; */
/* } */
/* p{
  position: relative;
  z-index: 301;
} */

/* .main-box{
  width: 70%;
  height: 70vh;
  background-color: #000;
}

.con-box{
  position: relative;
  width: 50%;
  height: 50%;
  background-color: green;
}

.box{
  position: absolute;
  right: 100px;
  width: 100px;
  height: 100px;
  background-color: red;
} */