@import url('reset.css');


/* .main{
  width: 70%;
  height: 60vh;
  background-color: black; */
  /* overflow-x: scroll;
  overflow-y: hidden; */
  /* display: flex; */
  /* flex-direction: row-reverse; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* flex-wrap:wrap-reverse ; */
  
/* } */

/* 
.main .box{
  width: 100px;
  height: 100px;
  background-color: red;
  font-size: 50px;
  color: white;
  margin: 10px;
} */